venv
*.pyc
staticfiles

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings

# Runtime data
state.cfg

# GeoIp data
geoip/*.dat

# Log
log/*
*.log

# Backup file
*.bak
*.swp

# PyCharm files
.idea/

# You can put your personal files in the directory
/personal/
